<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.19/webcomponents-lite.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mobx/3.3.2/mobx.umd.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
  <script src="https://unpkg.com/hyperhtml@latest/min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/hyper-element@latest/build/hyperElement.min.js"></script>
  <script src="./logic.js"></script>
  <script src="./test-elem.js"></script>
</head>

<body>
<div id="app"/>
<test-elem max="50"></test-elem>
<my-profile>my profile</my-profile>

<script>
  window.addEventListener('WebComponentsReady', function(e) {
    console.log("App ready!","imports are loaded and elements have been registered")
  });
</script>
</body>

</html>
